body {
	background-color: beige;
	}
 * {
	font-family: Courier New;
}
h1 {
  font-size: 50px;
}
h2 {
  font-family: Courier New;
}

body {
	padding-left: 35px;
}
.show {
	display: none;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #DEB887;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}



/* Style the footer */
footer {
  background-color: #DEB887;
  padding: 10px;
  text-align: center;
  color: white;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #DEB887;
  color: white;
}
	



table.GeneratedTable {
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  background-color: beige;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #deb887;
  border-style: solid;
  color: #000000;
  margin-left:auto; 
  margin-right:auto;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #deb887;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #deb887;
}



/* Style the footer */
footer {
  background-color: #DEB887;
  padding: 10px;
  text-align: center;
  color: white;
}
.flex-item {
	margin: auto;
}
/* Responsive layout - makes the images smaller, on small screens */
@media (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}
